docs

Data_Source/Chad/Worldpop/*.tif
Data_Source/Chad/Worldpop/Worlpop_age_and_sex/*.tif
Data_Source/Chad/VIDA/*.parquet
Data_Source/Synthetic data
Data_Source/OSM-boundry/

pdi-boundary/output
pdi-batch/output
# Python environment
.venv/
**/.venv/
__pycache__/
*.pyc
.env
.pytest_cache/

# Local Flyway CLI config
db/flyway.conf

# Node / build artifacts
node_modules/
dist/

#demo
demo/

# OS / editor cruft
.DS_Store
Thumbs.db
.idea/
.vscode/
